@charset "utf-8";

main {
    background-color: rgba(0,0,0,0.8);
}

.container-bg {
    background: url("../images/stretch.png") no-repeat;
}

.discription h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 0 10% 10px 10%;
    border-bottom: solid 3px #fff;
}

.discription p {
    color: #ccc;
    padding-left: 10%;
    padding-right: 10%;
}
