@charset "utf-8";

.container main {
    display: flex;
    flex-direction: row;
}

.input-form {
    width: 50vw;
}

.chara {
    display: block;
    width: 50vw;
    height: 50vw;
}

#input-submit {
    width: 100px;
    height: 100px;
    display: block;
    background: #66ff66;
    margin: 0 auto;
    border-radius: 50%;
}
