@charset 'utf-8';


main h1, main li {
    color: #fff;
    font-weight: bold;
}

main h1 {
    font-size: 3rem;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    text-align: center;
}

main ul {
    list-style-type: none;
}

main li {
    background: linear-gradient(rgba(0,0,0,0), rgba(255, 255, 255, 0.3));
    margin-top: 10px;
    padding: 10px;
}


.container main {
    background-color: rgba(0, 0, 0, 0.5);
}

.container-bg {
    background: linear-gradient(#6f6, #cfc);
}


main .calorie-data {
    float: right;
    text-align: right;
}

.chara {
    display: block;
    height: 50%;
    width: 50%;
    margin: 0 auto;
}

main a {
    text-decoration: none;
    display: block;
    background-color: greenyellow;
    border-color: #000;
    padding: 10px;
    width: 50px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
}

.chart {
    background-color: rgba(255,255,255,0.6);
}
